# docker-compose.yml
# NAPCAT_UID=$(id -u) NAPCAT_GID=$(id -g) docker-compose -f ./compose/astrbot.yml up -d
services:
  napcat:
    environment:
      - NAPCAT_UID=${NAPCAT_UID:-1000}
      - NAPCAT_GID=${NAPCAT_GID:-1000}
      - MODE=astrbot
      - LANG=C.UTF-8  # 指定字符编码为UTF-8
      - LC_ALL=C.UTF-8  # 强制统一所有本地化设置为UTF-8
    ports:
      - 6099:6099
    container_name: napcat
    restart: always
    image: mlikiowa/napcat-docker:latest
    volumes:
      - ./data:/AstrBot/data
      - ./napcat/config:/app/napcat/config
      - ./ntqq:/app/.config/QQ
    networks:
      - astrbot_network
    #mac_address: "02:42:ac:11:00:02"
  astrbot:
    environment:
      - TZ=Asia/Shanghai
    image: soulter/astrbot:latest
    container_name: astrbot
    restart: always
    ports:
      - "6185:6185"
      #- "6195:6195"
      #- "6199:6199"
    volumes:
      - ./data:/AstrBot/data
    networks:
      - astrbot_network
  gsuid-core:
    image: mhmzx/poetry-runner:3.11-bookworm
    restart: always
    volumes:
      - ./gsuid_core:/app
      - ./gsuid_data:/app/data
      - ./gsuid_start:/start
      - ./gsuid_cache:/.cache
      - ./gsuid_plugins:/app/gsuid_core/plugins
    ports:
      - 8765:8765
    environment:
      AUTO_VENV: 1
      AUTO_VENV_NAME: gsuid_core
      AUTO_PIP_INSTALL: 1
    networks:
      - astrbot_network
networks:
  astrbot_network:
    driver: bridge